h1 {
  color: white;
}

h2 {
  color: #5bc0de;
}

h3 {
  color: #5bc0de;
}

#header input {
    color: #5bc0de !important;
}

#header {
    background-color: #67daff;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
    input[type="submit"], input[type="reset"], input[type="button"], button, .button {
        padding-top: 0;
        padding-right: 1.75em;
        padding-bottom: 0;
        padding-left: 1.75em;
    }
}

img {
    width: 28px;
    height: 28px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.col-sm-6 {
    padding-left: 0px !important;
}

.col-sm-2 {
    padding-left: 0px !important;
}

.col-sm-4 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#deleteButton {
    margin-left: 15px;
}

#language {
    font-style: italic;
}

.initiallyHidden {
    display: none;
}